@import './reset.scss';

$fontFamily: 'Inter', sans-serif;
$fontSizeBlock: 20px;
$fontWeightBlock: 500;

$boxShadow: -1px 1px 2px 0 rgb(0, 0, 0, 0.1);

$gray300: #4b4c52;
$gray200: #53545b;
$gray100: #6a6a6f;
$gray900: #1e1f27;
